:root {
  --umber: rgba(88, 70, 61, 1);
  --black-olive: rgba(70, 70, 69, 1);
  --platinum: rgba(235, 233, 230, 1);
  --antiflash-white: rgba(238, 237, 239, 1);
  --eerie-black: rgba(33, 36, 37, 1);
  --timberwolf: rgba(210, 199, 189, 1);
  --timberwolf-2: rgba(225, 219, 218, 1);
}

* {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}

#navbar-container {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  padding: 2% 8%;
  place-items: center;
  background: transparent;
  backdrop-filter: blur(30px);
  background-color: rgba(248, 246, 246, 0.369);
  z-index: 5;
}

.nav-list li a {
  font-size: 1.1rem;
  text-decoration: none;
  position: relative;
  color: black;
}

#navbar li a::after {
  content: "";
  position: absolute;
  width: 99%;
  height: 3px;
  background: var(--black-olive);
  bottom: -5px;
  left: 3px;
  transition: 0.4s ease-in-out;
  transform: scale(0, 1);
  z-index: 9;
}
#navbar li a:hover::after {
  transform: scale(1.1, 1.1);
}

.nav-list li {
  display: inline-block;
  list-style: none;
  padding: 0 0.6rem;
}

.logo {
  font-size: 1.5rem;
  font-weight: 900;
  font-family: "Oswald", sans-serif;
  /* letter-spacing: 1.5px; */
  transition: 0.4s ease-in-out;
  color: var(--eerie-black);
  text-decoration: none;
}
.logo:hover {
  transform: scale(1.1, 1.1);
  color: var(--umber);
}

.logo span {
  /* font-family: "Raleway", sans-serif; */
  font-size: 15px;
  font-weight: 100;
}

#hero {
  background-image: url("images/bg5.jpg");
  /* background-position: top 15% right 0; */
  background-size: cover;
  background-repeat: no-repeat;
  height: 80vh;
  width: 100%;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}
.style {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 20px;
  font-weight: bold;
  font-family: "Oswald", sans-serif;
}
.test {
  overflow: hidden;
  position: relative;
}
.run-offer {
  width: 100%;
  position: absolute;
  animation-name: run;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-fill-mode: backwards;
  animation-timing-function: linear;
  /* animation-direction: alternate; */
  display: flex;
  /* height: 10px; */
  /* overflow: hidden; */
}
.run-offer h1 {
  user-select: none;
  /* display: inline-block; */
  /* overflow: auto; */
  white-space: nowrap;
  margin-right: 5rem;
  font-size: 1.3rem;
  margin-left: 5rem;
}

.stroke {
  color: transparent;
  -webkit-text-stroke-width: 0.1px;
  -webkit-text-stroke-color: red;
}

@keyframes run {
  from {
    transform: translateX(-100%);
    /* left: -100%; */
  }
  to {
    transform: translateX(100%);
    /* left: 100%; */
  }
}

.offer {
  padding-left: 8%;
}

.offer h1 {
  color: var(--umber);
  font-size: 2.4rem;
  margin-bottom: 5px;
}

.offer h2 {
  color: var(--eerie-black);
  font-size: 1.8rem;
  margin-bottom: 5px;
}

.offer p {
  font-size: 1.1rem;
  margin-bottom: 15px;
  font-family: "Raleway", sans-serif;
}

.offer h3 {
  margin-bottom: 5px;
  font-size: 1.2rem;
}

.offer button {
  width: 120px;
  height: 40px;
  border-radius: 3px;
  box-shadow: rgba(210, 199, 189, 1) 0px 5px 18px,
    rgb(236, 236, 236) 0px 5px 10px;
  background-color: var(--umber);
  color: var(--platinum);
  font-size: 1rem;
  transition: 0.3s ease-in-out;
}

.offer button:hover {
  filter: brightness(120%);
}

#fe-products {
  padding: 2% 8%;
  color: var(--eerie-black);

  /* text-align: center; */
}

.pr-tagline {
  text-align: center;
}

.pr-tagline h1 {
  color: var(--eerie-black);
  font-size: 2.4rem;
  margin-bottom: 5px;
  /* text-align: center; */
}

.pr-tagline p {
  font-size: 1.1rem;
  margin-bottom: 15px;
  /* text-align: center; */
}

.pr {
  height: 260px;
  width: 220px;
  border-radius: 20px;
}

.prod-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  place-items: center;
  box-sizing: border-box;
}

.prd {
  padding: 1%;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  box-sizing: border-box;
  border-radius: 20px;
  margin: 15px 8px;
  transition: 0.4s;
  background-color: rgb(252 252 252);
  /* background: transparent */
}

.prd:hover {
  transform: translateY(-3px);
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
    rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
}

.prd,
.stars,
h3,
p {
  line-height: 1.2;
}

.pr-name {
  color: var(--umber);
}

#offer-banner {
  background-image: url(images/b2.jpg);
  width: 100%;
  height: 40vh;
  margin: 2% 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
}

.of-detail {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  place-items: center;
  text-align: center;
  padding: 2% 8%;
}

.of-detail p {
  /* font-size: ; */
  font-family: "Inconsolata", monospace;
}

.of-detail h3 {
  font-size: 2.6rem;
  letter-spacing: 1px;
  font-family: "Ephesis", cursive;
}

.of-detail h2 {
  font-size: 2rem;
  font-weight: lighter;
  color: var(--timberwolf);
  font-family: "Rancho", cursive;
}

.of-detail h1 {
  color: var(--timberwolf);
  font-size: 2.3rem;
}

.of-detail h1 span {
  font-size: 3.5rem;
  color: red;
}

.of-detail button {
  width: 120px;
  height: 40px;
  background-color: bisque;
  border-radius: 5px;
  margin-bottom: 4px;
}

.arr-disc {
  text-align: center;
}

.arr-disc h1 {
  color: var(--eerie-black);
  font-size: 2.4rem;
  margin-bottom: 5px;
}

.arr-disc h1 span {
  color: var(--umber);
  text-decoration: line-through;
}

.arr-disc {
  font-size: 1.1rem;
  margin-bottom: 15px;
}

.arr-container {
  display: flex;
  /* padding: 2% 8%; */
  justify-content: space-evenly;
  box-sizing: border-box;
  flex-wrap: wrap;
}
.price {
  display: inline;
}

#new-arr {
  box-sizing: border-box;
  padding: 2% 8%;
}

.banner1 button,
.banner2 button {
  width: 120px;
  height: 40px;
  background-color: #ecffff;
  border-radius: 10px;
  /* margin-bottom: 4px; */
  margin-top: 10px;
  margin-left: 50px;
}

.banner1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  text-align: left;
  background-image: url("images/b17.jpg");
  width: 550px;
  height: 50vh;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  background-position: center;
}

#sm-banner {
  color: white;
  padding: 2% 8%;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.banner1 h2,
.banner2 h2 {
  margin-left: 50px;
  line-height: 1.5;
}

.banner1 p,
.banner2 p {
  margin-left: 50px;
  line-height: 1.5;
}

.banner1 h4,
.banner2 h4 {
  margin-left: 50px;
  line-height: 1.5;
}

.banner1 {
  filter: brightness(90%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  text-align: left;
  background-image: url("images/b17.jpg");
  width: 550px;
  height: 40vh;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  background-position: center;
  transition: 0.3s ease-in-out;
  margin: 0;
  margin-bottom: 15px;
}

.banner2 {
  transition: 0.3s ease-in-out;
  filter: brightness(90%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  text-align: left;
  background-image: url("images/b10.jpg");
  width: 550px;
  height: 40vh;
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 10px;
  background-position: center;
  margin: 0;
  margin-bottom: 15px;
}

.banner1 h2,
.banner2 h2 {
  font-size: 2rem;
}

.banner1 h4,
.banner2 h4 {
  font-size: 1.2rem;
}

.banner1:hover,
.banner2:hover {
  /* color: var(--eerie-black); */
  transform: scale(102%);
  filter: brightness(100%);
}

#news-letter {
  display: flex;
  background-color: var(--platinum);
  padding: 2% 8%;
  justify-content: space-between;
  flex-wrap: wrap;
  place-items: center;
}

.news-text h4 {
  font-size: 1.3rem;
  /* line-height: 1.3; */
  margin-bottom: 5px;
}

.form input {
  width: 300px;
  height: 30px;
  /* display: flex; */
  /* text-align: center; */
}

.form button {
  width: 80px;
  height: 30px;
  background-color: var(--eerie-black);
  color: var(--antiflash-white);
}

.news-text p span {
  color: rgb(179 58 11);
}

.news-text p {
  margin-bottom: 8px;
}

footer {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-around;
  margin-top: 40px;
}

footer .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer p {
  font-size: 13px;
  margin: 0 0 8px 0;
}

footer a {
  font-size: 18px;
  text-decoration: none;
  color: #222;
  margin-bottom: 10px;
}

footer h4 {
  font-size: 20px;
  margin: 0 0 8px 0;
}

#footer h1 {
  font-size: 25px;
}

.col p {
  font-size: 16px;
}

.cont3 h1 {
  padding-top: 2%;
}

.col-install p {
  font-size: 14px;
}

.row {
  margin-top: -20px;
  margin-left: -10px;
}

.row2 img {
  margin-left: -10px;
}

.col h4 {
  margin-bottom: 10px;
}

.col a {
  font-size: 16px;
}

#footer {
  padding: 0 8%;
}

.copyright {
  background-color: var(--black-olive);
  text-align: center;
  color: var(--platinum);
  height: auto;
  width: 100%;
}

.copyright a {
  color: var(--platinum);
  text-decoration: none;
  font-family: "Rancho", cursive;
  font-size: 1.4rem;
}

#sidebar {
  display: none;
  position: fixed;
  top: 0;
  right: 0;
  backdrop-filter: blur(30px);
  background-color: rgba(248, 246, 246, 0.369);
  height: 100vh;
  z-index: 10;
  width: 250px;
  padding: 0 5%;
  box-sizing: border-box;
}

#mob-navbar li {
  list-style: none;
  margin-bottom: 15px;
}

#mob-navbar {
  margin-top: 70px;
}

#mob-navbar li a {
  font-size: 1.4rem;
  text-decoration: none;
  color: var(--eerie-black);
}

#HideOnDesk {
  display: none;
}

#mob-footer {
  display: none;
  padding: 2% 8%;
}
.mob-footer-cnt {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  flex-direction: column;
}

#mob-footer h1 {
  text-align: center;
}
#mob-footer h4 {
  margin-bottom: 5px;
  font-size: 1.2rem;
  color: var(--umber);
}

.m-col1,
.m-col2,
.m-col3 {
  margin-bottom: 25px;
}

/* <-------------------------------------------Products CSS-------------------------------------> */
.shop-container {
  padding: 2% 8%;
}
#cart-icn {
  border-radius: 50%;
  text-align: center;
  padding: 5px;
  width: 25px;
  float: right;
  margin-right: 20px;
  margin-bottom: 10px;
  background-color: var(--timberwolf);
  font-size: 1.2rem;
}
#cart-icn:hover {
  background-color: rgba(241, 208, 165, 0.996);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;

  /* box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px; */
}
/* <-------------------------------------------Page navigator-------------------------------------> */
#page-nav {
  justify-content: center;
  padding: 2% 8%;
  place-content: left;
  display: flex;
  gap: 10px;
  background-color: var(--antiflash-white);
  box-sizing: border-box;
}
.pg-num {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--umber);
  color: var(--platinum);
  width: 60px;
  height: 40px;
  border-radius: 5px;
  transition: 0.3s;
}
.pg-num:hover {
  cursor: pointer;
  filter: brightness(120%);
}
/* <-------------------------------------------Customer CSS-------------------------------------> */

#customer {
  display: flex;
  background-image: url("images/banner.png");
  height: 30vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#customer .logo {
  color: var(--platinum);
}
#customer h3 {
  color: var(--timberwolf);
  font-weight: 100;
}
.det-map {
  display: flex;
  /* flex-wrap: wrap; */
  justify-content: space-between;
  padding: 2% 8%;
  text-wrap: stable;
  box-sizing: border-box;
}

.map {
  width: 55%;
  height: 310px;
  margin-bottom: 20px;

  box-sizing: border-box;
}
.map iframe {
  width: 100%;
  height: 100%;
}
.detail {
  margin-right: 10px;
  margin-bottom: 20px;
}

.detail li {
  list-style: none;
  display: flex;
  gap: 10px;
  align-items: left;
  justify-content: left;
  margin: 30px 0;
}
.detail p,
.detail h1,
.detail h3 {
  margin-bottom: 10px;
}
#form {
  display: flex;
  justify-content: space-between;
  padding: 2% 8%;
}
.msg {
  width: 50%;
  margin-right: 10px;
}
.msg p,
.msg h2 {
  margin-bottom: 1rem;
}
.msg input {
  box-sizing: border-box;
  width: 100%;
  height: 2rem;
  padding: 1rem;
  margin-bottom: 1rem;
  transition: 0.3s;
}
.msg textarea {
  box-sizing: border-box;
  width: 100%;
  /*height: 2rem; */
  padding: 1rem;
  margin-bottom: 1rem;
}
.msg button {
  width: 80px;
  height: 32px;
  background-color: var(--black-olive);
  color: var(--antiflash-white);
}
.people {
  margin-bottom: 20px;
}
.p1 {
  box-sizing: border-box;
  display: flex;
  gap: 1rem;
  /* border: 1px solid  black; */
  border-radius: 15px;
  margin-bottom: 1rem;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
  padding: 0.5rem;
  transition: 0.3s ease-in-out;
  background-color: white;
}
.p1:hover {
  box-shadow: rgba(9, 30, 66, 0.25) 0px 1px 1px,
    rgba(9, 30, 66, 0.13) 0px 0px 1px 1px;
  transform: translateY(-3px);
}
.p1 img {
  width: 90px;
  height: 90px;
}
.des p {
  margin: 0.5rem 0;
}
.msg input:focus {
  border-bottom: 5px solid var(--black-olive);
}

/* <-------------------------------------------Login CSS-------------------------------------> */
#login {
  display: block;
  width: 400px;
}
#login h1 {
  margin-bottom: 10px;
  text-align: center;
}
#login-pg {
  /* flex-direction: column;
  box-sizing: border-box; */
  display: flex;
  place-content: center;
  padding: 2% 8%;
  margin-bottom: 30px;
}
#login-pg input:focus {
  border-bottom: 5px solid var(--black-olive);
}
#login label {
  font-size: 1.3rem;
}
#login input {
  width: 99%;
  font-size: 1rem;
  height: 2rem;
  /* border-radius: 1px; */
  margin-bottom: 10px;
  transition: 0.3s ease-in-out;
  box-sizing: border-box;
}
#login button {
  font-size: 1rem;
  width: 100%;
  height: 32px;
  background-color: var(--eerie-black);
  color: var(--antiflash-white);
  margin-bottom: 5px;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
}
#login button:hover {
  filter: brightness(120%);
}
#login span {
  cursor: pointer;
}
#registration h1 {
  margin-bottom: 10px;
  text-align: center;
}

#registration label {
  font-size: 1.3rem;
}
#registration input {
  width: 99%;
  font-size: 1rem;
  height: 2rem;
  /* border-radius: 1px; */
  margin-bottom: 10px;
}
#registration button {
  font-size: 1rem;
  width: 100%;
  height: 32px;
  background-color: var(--eerie-black);
  color: var(--antiflash-white);
  margin-bottom: 5px;
  border-radius: 5px;
  transition: 0.4s ease-in-out;
}
#registration button:hover {
  filter: brightness(120%);
}
#registration {
  display: none;
  width: 400px;
}
/* <-------------------------------------------Responsive CSS-------------------------------------> */

@media (max-width: 799px) {
  #HideOnMobile {
    display: none;
  }

  #HideOnDesk {
    display: block;
  }

  #navbar {
    display: flex;
  }

  .pr {
    height: 300px;
    width: 260px;
  }

  .of-detail h1 {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }

  .of-detail h1 span {
    font-size: 1.8rem;
  }

  .of-detail h2 {
    margin-bottom: 10px;
  }

  #offer-banner {
    height: 35vh;
    place-content: center;
  }

  .form input {
    width: 200px;
    height: 30px;
    /* display: flex; */
    /* text-align: center; */
  }

  .form button {
    width: 80px;
    height: 32px;
    background-color: var(--eerie-black);
    color: var(--antiflash-white);
  }
  #footer {
    display: none;
  }

  #mob-footer {
    /* height: 100%; */
    display: block;
  }
}
@media (max-width: 650px) {
  #HideOnMobile {
    display: none;
  }

  #HideOnDesk {
    display: block;
  }

  #navbar {
    display: flex;
  }

  .pr {
    height: 300px;
    width: 260px;
  }

  .of-detail h1 {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }

  .of-detail h1 span {
    font-size: 1.8rem;
  }

  .of-detail h2 {
    margin-bottom: 10px;
  }

  #offer-banner {
    height: 35vh;
    place-content: center;
  }

  .form input {
    width: 200px;
    height: 30px;
    /* display: flex; */
    /* text-align: center; */
  }

  .form button {
    width: 80px;
    height: 32px;
    background-color: var(--eerie-black);
    color: var(--antiflash-white);
  }
  #footer {
    display: none;
  }

  #mob-footer {
    display: block;
  }

  .det-map {
    display: flex;
    flex-direction: column;
    /* flex-wrap: wrap; */
    justify-content: space-between;
    padding: 2% 8%;
    text-wrap: stable;
    box-sizing: border-box;
  }
  .map {
    width: 100%;
    /* height: 310px; */
    /* box-sizing: border-box; */
  }
  #form {
    flex-direction: column-reverse;
  }
  .msg {
    width: 100%;
    margin-right: 10px;
  }
  .prd {
    padding: 10px;
  }
}

@media (max-width: 420px) {
  #hero {
    background-image: url("images/bg5.jpg");
    background-position: 35% 75%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 80vh;
    width: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
  }

  #HideOnMobile {
    display: none;
  }

  #HideOnDesk {
    display: block;
  }

  #navbar {
    display: flex;
  }

  .pr {
    height: 300px;
    width: 260px;
  }

  .of-detail h1 {
    font-size: 1.5rem;
    margin-bottom: 20px;
  }

  .of-detail h1 span {
    font-size: 1.8rem;
  }

  .of-detail h2 {
    margin-bottom: 10px;
  }

  #offer-banner {
    height: 35vh;
    place-content: center;
  }

  .form input {
    width: 200px;
    height: 30px;
    /* display: flex; */
    /* text-align: center; */
  }

  .form button {
    width: 80px;
    height: 32px;
    background-color: var(--eerie-black);
    color: var(--antiflash-white);
  }

  .pr-tagline h1 {
    font-size: 2.2rem;
  }

  .arr-disc h1 {
    font-size: 2.2rem;
  }
  #footer {
    display: none;
  }
}
